<h1>Ticketing#index</h1>


<%= form_with url: events_path, method: :get do |form| %>
  <%= form.label :name, "Your name:" %>
  <%= form.text_field :name %>

  <%= form.label :email, "Your email:" %>
  <%= form.text_field :email %></br>
  <%= form.submit "Submit" %>
<% end %>