
<%= form_with url: events_path, local: true, method: :get do %>
  <div style="width:30%; margin:0 auto">
    <h1>It's time to party!</h1>
      <div class="form-group">
        <%= label_tag "name", "Your name:" %>
        <input class="form-control" style="width: 400px" <%= text_field_tag "name", nil, :required => true %>
      </div>

      <div class="form-group">
      <%= label "email", "Your email:" %>
        <input class="form-control" style="width: 400px"  <%= text_field_tag "email", nil, :required => true %>
      </div>

      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>Submit <% end %>
  </div>
<% end %>